*{
    font-family: 'Roboto', serif;
    box-sizing: border-box;
    margin: 0px;
}

.opening{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content{
    width: 100vw;
    
}
h1{
    size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.headertxt{
    size: 24px;
    color: #F9FAF8;
    margin-right: auto;
}
.menu, .headerbody{
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
}
.headerbody{
    flex-wrap: wrap;
    gap: 2em;
    padding: 2em 0;

}
.headercontent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    flex: 1;
}
.menu .headerurls{
    display: flex;
    gap: 1em;
    flex-direction: row;
}
img{
    height: 100px;
    width: auto;
}

.headerlink a, .headercontent p{
    size: 18px;
    text-decoration: none;
    color: #E5E7EB;
}

.signup{
    background-color: #3882F6;
    padding: 0.5em 1em;
    color: #F9FAF8;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}