*{
    font-family: 'Roboto', serif;
    box-sizing: border-box;
    margin: 0px;
}

.opening{
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
}

.content{
    width: 100vw;
    
}
h1{
    size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.headertxt{
    size: 24px;
    color: #F9FAF8;
    margin-right: auto;
    flex: 2 1 0%;
}
.menu{
    display: flex;
    gap: 7px;
    width: 80%;
    justify-content: center;
    padding: 1em 0;
}
.menu.headerlink{
    flex: 1 1 0%;
}
img{
    height: 100px;
    width: auto;
}

.headerlink a{
    size: 18px;
    text-decoration: none;
    color: #E5E7EB;
}